@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(99.98% 0.001 106.42);
    --foreground: oklch(10.56% 0.018 258.34);
    --card: oklch(98.08% 0.005 258.34);
    --card-foreground: oklch(10.56% 0.018 258.34);
    --popover: oklch(98.08% 0.005 258.34);
    --popover-foreground: oklch(10.56% 0.018 258.34);
    --primary: #3657a7;
    --primary-foreground: oklch(99.98% 0.001 106.42);
    --secondary: oklch(62.79% 0.197 258.34);
    --secondary-foreground: oklch(99.98% 0.001 106.42);
    --muted: oklch(89.59% 0.007 258.34);
    --muted-foreground: oklch(45.36% 0.029 258.34);
    --accent: oklch(76.3% 0.13 258.34);
    --accent-foreground: oklch(10.56% 0.018 258.34);
    --destructive: oklch(57.7% 0.245 27.325);
    --destructive-foreground: oklch(98.5% 0 0);
    --border: oklch(89.59% 0.007 258.34);
    --input: oklch(89.59% 0.007 258.34);
    --ring: #3657a7;
    --radius: 0.625rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: oklch(10.56% 0.018 258.34);
    --foreground: oklch(99.98% 0.001 106.42);
    --card: oklch(15% 0.02 258.34);
    --card-foreground: oklch(99.98% 0.001 106.42);
    --popover: oklch(15% 0.02 258.34);
    --popover-foreground: oklch(99.98% 0.001 106.42);
    --primary: #3657a7;
    --primary-foreground: oklch(10.56% 0.018 258.34);
    --secondary: oklch(76.3% 0.13 258.34);
    --secondary-foreground: oklch(10.56% 0.018 258.34);
    --muted: oklch(20% 0.02 258.34);
    --muted-foreground: oklch(70% 0.01 258.34);
    --accent: #3657a7;
    --accent-foreground: oklch(99.98% 0.001 106.42);
    --destructive: oklch(57.7% 0.245 27.325);
    --destructive-foreground: oklch(98.5% 0 0);
    --border: oklch(20% 0.02 258.34);
    --input: oklch(20% 0.02 258.34);
    --ring: #3657a7;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
